{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier/react", "plugin:react/recommended", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "no-restricted-syntax": ["off", "BinaryExpression[operator='in']"],
    "prettier/prettier": "error"
  },
  "react-hooks/rules-of-hooks": "error",
  "settings": {
    "react": {
      "version": "latest"
    }
  }
}
