@import './../../assets/css/colors';

.camera {
  height: 100vh;
  background-color: $black;
  overflow: hidden;
}

video {
  position: absolute;
  left: -9999px;
  opacity: 0;
  visibility: hidden;
  z-index: -9999;
}

.line {
  height: 3px;
  margin: -3px 0 0;
  border: 0;
  background-color: $white;
}

.controls {
  position: relative;
  .float.btn-photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
